/*=================================================================================================================================== 
 #Import Base
======================================================================================================================================*/
/*=================================================================================================================================== 
 #Reset
======================================================================================================================================*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*=================================================================================================================================== 
 #Less Vars
======================================================================================================================================*/
/*=================================================================================================================================== 
 #General
======================================================================================================================================*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font: 14px/21px Arial, sans-serif;
  color: #555555;
  -webkit-font-smoothing: antialiased;
}
p,
ul,
ol {
  margin-bottom: 21px;
}
a {
  color: #4599c8;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: #2c6f95;
}
p {
  font-size: 13px;
  line-height: 21px;
  font-family: Arial, sans-serif;
}
hr {
  border: none;
  height: 1px;
  border-top: 1px solid #cccccc;
  margin: 21px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.1em;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
blockquote {
  font: italic 14px/21px Georgia, serif;
  color: #555555;
  border-left: 2px solid #cccccc;
  margin: 21px 0;
}
blockquote cite {
  display: block;
  color: #999999;
  font: normal 12px/21px Arial, sans-serif;
}
em,
i {
  font-style: italic;
}
strong,
b {
  font-weight: bold;
  color: #3b3b3b;
}
img {
  max-width: 100%;
}
/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
/* Clearfix for the .slides element */
.slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .slides {
  display: block;
}
* html .slides {
  height: 1%;
}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block;
}
/* FlexSlider Default Theme
*********************************/
.flexslider {
  margin: 0 0 60px;
  position: relative;
  zoom: 1;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}
.flexslider .slides {
  zoom: 1;
}
.carousel li {
  margin-right: 5px;
}
/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 40px;
  text-align: center;
  z-index: 9;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  opacity: .20;
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: #fff;
  cursor: pointer;
  text-indent: -9999px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.flex-control-paging li a:hover {
  opacity: 0.5;
}
.flex-control-paging li a.flex-active {
  opacity: 1;
  cursor: default;
}
/*=================================================================================================================================== 
 #Helpers
======================================================================================================================================*/
.bt {
  color: #3498db;
}
.dt {
  display: table;
}
.tc {
  display: table-cell;
  vertical-align: middle;
}
body {
  background: #eeeeee;
}
/*=================================================================================================================================== 
 #Header
======================================================================================================================================*/
#pageHeader {
  background: url('../img/header_background.jpg') no-repeat center top;
  background-size: cover;
  height: 555px;
  position: relative;
}
#pageHeader:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.61);
}
#pageHeader h1 {
  z-index: 2;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 81px;
  line-height: 81px;
  font-weight: 800;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -50px;
}
#pageHeader h1 small {
  display: block;
  font-size: 35px;
  font-weight: 100;
  line-height: 20px;
}
#pageHeader .container {
  position: relative;
  z-index: 2;
}
#pageHeader .container .row {
  margin-top: 30px;
}
#pageHeader nav ul {
  float: right;
}
#pageHeader nav ul li {
  height: 53px;
  line-height: 53px;
  list-style: none;
  float: left;
  margin-left: 60px;
}
#pageHeader nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  line-height: 14px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#pageHeader nav ul li a.active {
  color: #3498db;
}
/*=================================================================================================================================== 
/* .box
======================================================================================================================================*/
.box {
  background: #fff;
  height: 345px;
  margin-top: 95px;
  padding: 35px;
  text-align: center;
}
.box h2 {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 25px;
  text-transform: uppercase;
  margin-top: 20px;
}
.box i {
  font-size: 130px;
  color: #3498db;
}
.box.code i {
  font-size: 180px;
  height: 130px;
  line-height: 114px;
}
/*=================================================================================================================================== 
/* .quotes
======================================================================================================================================*/
.quotes {
  height: 405px;
  margin-top: 95px;
  background: #3498db url('../img/quote_background.png') center center no-repeat;
  text-align: center;
}
.quotes p {
  color: #fff;
  font-size: 30px;
  line-height: 45px;
  width: 470px;
  margin: auto;
  font-family: Georgia, serif;
  font-style: italic;
}
.quotes .quotee {
  margin-top: 15px;
  display: block;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #175076;
}
.quotes .quotee b {
  font-weight: 800;
}
.quotes .flexslider {
  height: 405px;
}
.quotes .dt {
  margin: 0 auto;
  height: 405px;
}
/*=================================================================================================================================== 
/* .news
======================================================================================================================================*/
.news-item {
  margin-top: 95px;
  background: #fff;
  height: 380px;
}
.news-item .article-text {
  padding: 15px 25px;
}
.news-item h3 {
  font-weight: 800;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 23px;
}
.news-item p {
  margin-bottom: 15px;
  color: #777;
}
.news-item .post-date {
  font-size: 11px;
  color: #999;
}
.news-item a:hover h3 {
  color: #3498db;
}
/*=================================================================================================================================== 
/* #pageFooter
======================================================================================================================================*/
#pageFooter {
  background: url('../img/footer_background.jpg') no-repeat center top;
  margin-top: 230px;
  height: 420px;
  position: relative;
  padding-top: 80px;
}
#pageFooter:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}
#pageFooter .container {
  position: relative;
  z-index: 2;
  text-align: center;
}
#pageFooter .container .footer-title {
  color: #3498db;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;
  display: block;
}
#pageFooter .container a {
  color: #fff;
  font-size: 47px;
  margin: 25px 15px;
}
/*=================================================================================================================================== 
/* #Less Mixins
======================================================================================================================================*/
/*=================================================================================================================================== 
 #Header
======================================================================================================================================*/
/*=================================================================================================================================== 
 #Navigation
======================================================================================================================================*/
/*=================================================================================================================================== 
 #Content
======================================================================================================================================*/
/*=================================================================================================================================== 
 #Footer
======================================================================================================================================*/
/*=================================================================================================================================== 
 #Import Forms & buttons
======================================================================================================================================*/
/*=================================================================================================================================== 
 #MediaQ
======================================================================================================================================*/
/* Smaller than 1200 (devices and browsers) */
@media only screen and (max-width: 1199px) {
  
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 979px) {
  
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  
}
/*=================================================================================================================================== 
 #Retina displays
======================================================================================================================================*/
@media (-webkit-min-device-pixel-ratio: 2) {
  
}
